@if (!string.IsNullOrWhiteSpace(ImportantMessage))
{
    <div class="@GetBannerClass()">
        @ImportantMessage
    </div>
}

@code {
    [Parameter] public string? ImportantMessage { get; set; }
    
    private string GetBannerClass() => "important-banner";
}